In [ ]:
nama = input("Tulis Nama :")
print("Hallo " + nama)

Tulis Nama :ADAM
Hallo ADAM

In [ ]:
import math

# using methods
print(math.pow(2, 3))
print(math.ceil(3.2))
print(math.sqrt(25))

print(math.pi)
# pow = pangkat, ceil = bulatkan keatas, sqrt = akar

8.0
4
5.0
3.141592653589793

In [ ]:
angka1 = 3
angka2 = 5
print("Hasil penjumlahan yaitu : " + str(angka1+angka2))
print(angka2%angka1)
print(angka1**angka2)

Hasil penjumlahan yaitu : 8
2
243

In [ ]:
import math
angka = 4
print(math.sqrt(angka))

2.0

In [ ]:
angka = 5
print("angka sebelum ditambah: " + str(angka))
# cara pertama
angka = angka + 5
print("angka setelah ditambah: " + str(angka))
# cara kedua
angka += 5
print("angka setelah ditambah: " + str(angka))
# notes: pilih salah satu saja, jangan run cara 1 dan cara 2 coding scr bersamaan

angka sebelum ditambah: 5
angka setelah ditambah: 10
angka setelah ditambah: 15

In [ ]:
# STRING (escape character)
print("Selamat datang di \"Coding Studio\"!")
# STRING METHODS (bawaan phyton)
text = "coding studio"

print(text.upper())
print(text.lower())
print(len(text))
print(text.split(' '))
print(text.capitalize())
print(text.index('s'))

Selamat datang di "Coding Studio"!
CODING STUDIO
coding studio
13
['coding', 'studio']
Coding studio
7

In [ ]:
hasil = [i for i in range(0, 13, 3)]
print(hasil)

[0, 3, 6, 9, 12]

In [ ]:
# slicing string (mengembalikan karakter yang berada dalam rentang index yang diberikan)
#  P Y T H O N
#  0 1 2 3 4 5
# -6-5-4-3-2-1

text = "Python"

print(text[0])
print(text[2:])
print(text[:4])
print(text[3:5])
print(text[:])
print(text[-2])
print(text[-4:-1])

P
thon
Pyth
ho
Python
o
tho

In [ ]:
# String Concatenation (menggabungkan dua buah string, kita dapat menggunakan syntax +)
x = "coding"
y = "studio"

print(x + y)
print(x + " " + y)
print(x + " " + y + " " + str(100))

codingstudio
coding studio
coding studio 100

In [ ]:
# String Format
# tidak bisa menggabungkan langsung string dan angka, maka dari itu dapat menggunakan casting dan format()
mangga = 5
apel = 7
pisang = 4
text = "cecep membeli {} mangga, {} apel, dan {} pisang."
print(text.format(mangga, apel, pisang))

cecep membeli 5 mangga, 7 apel, dan 4 pisang.

In [ ]:
# In vs Not in
# memeriksa apakah sebuah substring terdapat sebuah string
text = "I loved you"
print("loved" in text)
print("me" in text)

True
False

In [ ]:
# Conditional Statement
x = 5
y = 10
print(not(x > y))
print(x < y)
print(x > y or x < y)
# x < y = 5 < 10 = True  (statement 1)
# x > y = 5 > 10 = False (statemnet 2)
# statement 1 and statement 2 = True and False = False
# statement 1 or statement 2  = True or False  = True
# and (jika keduanya benar), or (salah satu benar), not(mengubah false menjadi true)
# 5!=2 (tidak sama dengan), 16==16 (sama dengan), 5<=7 (kurang dari sama dengan), 8>=8 (lebih dari sama dengan)

True
True

In [ ]:
# conditional statement 1
x = 10
y = 15

if x == y: # false dan tidak akan muncul hasil
  print("x sama dengan y")

if x < y: # true maka akan muncul hasilnya
  print("x kurang dari y")

  # ingat sblm print dikasih tab/spasi

x kurang dari y

In [ ]:
# conditional statements 2
a = 10
b = 5
c = 6
if a > b:
  print("a lebih besar dari b")
else:
  print("a tidak lebih besar dari b")

if (a > b and b > c): # true and false = false
  print("a lebih besar dari b") # command ini akan dijalankan jika True
else:
  print("a tidak lebih besar dari b") #command ini akan dijaankan jika False

a lebih besar dari b
a tidak lebih besar dari b

In [ ]:
# Conditional statement 3
x = 30
y = 15
z = 20

if (x > y): # true
  print("x lebih besar dari y")
elif (x < y):
  print("x lebih kecil dari y")
elif (z < y):
  print("z lebih besar dari y")
else:
  print("kondisi jika semua pernyataan false")
# jika sudah menemukan true di pernyataan pertama maka akan berhenti di awal dan tidak dilanjutkan

x lebih besar dari y

In [ ]:
# Conditional statement 3
x = 30
y = 15
z = 20

if (x == y):
  print("x lebih besar dari y")
elif (x < y):
  print("x lebih kecil dari y")
elif (z == y):
  print("z lebih besar dari y")
else:
  print("kondisi jika semua pernyataan false")
# jika semua salah maka pilihan else

kondisi jika semua pernyataan false

In [ ]:
# Loop statements
# for loop digunakan untuk menjalankan sebuah operasi berulang-ulang selama suatu kondisi terpenuhi
# ketika sedang merebus mie, kita akan mulai meniriskan mie ketka sudah matang. Selama (while) mie belum matang rebus mie
print("Looping!")
print("Looping!")
print("Looping!")
print("Looping!")
print("Looping!")
print("Looping!")
# cara di atas tentu akan memakan waktu sehingga,
for i in range(6): #parameter cuma 1 (default parameter)
  print("Looping!")
# function atau syntax Range
# memiliki parameter sebagai berikut: start, stop, dan step
# secara default, range memiliki default parameter sebagai berikut: range(start = 0, stop, step)
# berdasarkan kasus di atas range = 6, (start = 0, stop = 6, step 1)

for i in range(0, 5, 1): #parameter ada 3
  print(i)
for i in range(0, 8, 2):
  print(i)
# angka 5, 10, 15, 20, 25
for i in range(5, 30, 5):
  print(i)

Looping!
Looping!
Looping!
Looping!
Looping!
Looping!
Looping!
Looping!
Looping!
Looping!
Looping!
Looping!
0
1
2
3
4
0
2
4
6
5
10
15
20
25

In [ ]:
# Break and continue
# dengan break statement, kita dapat menghentikan sebuah loop walaupun loopnya masih berjalan
# angka kelipatan 3 tapi stop di 21
for i in range(3, 50, 3):
  if i == 21:
    break

  print (i)
# continue
for i in range(10, 20, 3):
  if i == 13:
    continue
  print (i)

# print angka ganjil dari 1 sampai 10
for i in range(1, 11):
  if i % 2 == 0:
    continue  # jika bilangan habis dibagi 2 maka lanjut interaksi selanjutnya
  print (i)
# cara kedua
for i in range(1, 11):
  if i % 2 != 0:
    print(i)

3
6
9
12
15
18
10
16
19
1
3
5
7
9
1
3
5
7
9

In [ ]:
# While statements --> akan mengeksekusi operasi di dalamnya selama kondisinya bernilai True
nilai = 50
while(nilai < 70):
  print("Nilai sekarang: " + str(nilai))
  nilai += 5
# selama nilai kurang dari 70 maka akan dijalankan (dg nilai + 5), namun ketika sudah mencapai 70 artinya bukan kurang dari 70 lagi, sehingga kondisi menjadi false
uang = 100
while(uang > 0):
  print("masih punya uang: " + str(uang))
  uang -= 10

print("uang aing habis!")
# artinya jika sudah = 0 brt bukan >0 lagi, sehingga kondisi false

Nilai sekarang: 50
Nilai sekarang: 55
Nilai sekarang: 60
Nilai sekarang: 65
masih punya uang: 100
masih punya uang: 90
masih punya uang: 80
masih punya uang: 70
masih punya uang: 60
masih punya uang: 50
masih punya uang: 40
masih punya uang: 30
masih punya uang: 20
masih punya uang: 10
uang aing habis!

In [ ]:
# Python Collection Data Types 1
# list adalah sebuah koleksi yang terurut dan dapat diganti, list dapat menampung elemen yang duplikat
listExample = ['phyton', 40, 2.5, True, 42]

print(listExample[0])
print(listExample[1:4])
print(listExample[-1])
print(listExample)

# List Operations
# Create data (append, insert), Read data, Update data, Delete data (remove, pop, del, clear)
# disingkat CRUD

# INSERT
listExample = [42, 'Python', 3.85, 50]
listExample.insert(1, 'Data science') #(index, object)
listExample.append('javascript') # akan menambahkan elemen ke paling belakang list
print(listExample)

# REMOVE
listExample = [23, 'nanda', 3.7, 21]
listExample.remove('nanda') # spesifik mau hapus apa
print(listExample)

listExample = [23, 'noya', 3.7, 21]
listExample.pop() # kebalikannya append (menghapus paling belakang) atau hapus by index dengan kosongin elemen ()
print(listExample)

listExample = [20, 'noya', 3.7, 31]
del listExample[2] # del index 2 (spesifik indexnya)
print(listExample)

listExample = [10, 'noya', 2.5, 20]
listExample.clear() # buat hapus elemen
print(listExample)

phyton
[40, 2.5, True]
42
['phyton', 40, 2.5, True, 42]
[42, 'Data science', 'Python', 3.85, 50, 'javascript']
[23, 3.7, 21]
[23, 'noya', 3.7]
[20, 'noya', 31]
[]

In [ ]:
#  list iteration
listExample = [40, 50, 20, 70, 80]

for item in listExample:
  print(item)

listExample = [30, 55, 20, 75, 90]

for item in listExample:
  if item % 2 == 0:
    print(item)

listExample = [30, 55, 20, 75, 90]

if 30 in listExample:
  print("ya terdapat nilai 30")

40
50
20
70
80
30
20
90
ya terdapat nilai 30

In [ ]:
# methods: len, copy, concat (+ dan extend), index, sort, reverse
# length = len(listExample) #panjang list
# copy
# jika tidak menggunakan copy maka akan dianggap sama
listExample = [30, 55, 20, 75, 90]
listExample2 = listExample
listExample2[0] = 100
print(listExample)
print(listExample2)

# jika pakai copy elemen akan berbeda
listExample = [30, 55, 20, 75, 90]
listExample2 = listExample.copy()
listExample2[0] = 100
print(listExample)
print(listExample2)

[100, 55, 20, 75, 90]
[100, 55, 20, 75, 90]
[30, 55, 20, 75, 90]
[100, 55, 20, 75, 90]

In [ ]:
# concat
listExample = [40, 55, 20]
listExample2 = [70, 100]
print(listExample+listExample2)

# extend
listExample = [40, 55, 20]
listExample2 = [70, 100]
listExample.extend(listExample2)
print(listExample)

# index
listExample = [40, 55, 20]
print(listExample.index(55))

# sort (mensortir elemen)
listExample = [40, 55, 20]
print(listExample.sort())

# yang benar diberi jarak untuk melakukan print
listExample = [40, 55, 20]
listExample.sort()

print(listExample)

# reverse/ menukar
listExample = [40, 55, 20]
listExample.reverse()

print(listExample)

[40, 55, 20, 70, 100]
[40, 55, 20, 70, 100]
1
None
[20, 40, 55]
[20, 55, 40]

In [ ]:
# Collection data type 2
# Tuple
# berbeda dengan list, elemen di dalam tuple tidak bisa diubah
# tupleExample = (2, 3)
# tupleExample[0] = 4
# misal di list kita bisa ubah index 0 yaitu 2 dengan angka 4, tapi di tuple tidak bisa
# hasilnya akan --> TypeError: 'tuple' object does not support item assignment (syntax salah)

# pakai kurung biasa bukan [] krn nanti akan error
tupleExample = ('Python', 20, 3.8, True, 20)
print(tupleExample)
print(tupleExample[1:3])
print(tupleExample[-2])

('Python', 20, 3.8, True, 20)
(20, 3.8)
True

In [ ]:
# Dictionary/kampus----> pakai kurung kurawal{}
# digunakan untuk menyimpan data dalam bentuk key:value
customer = {
    "nama":"Cecep",
    "umur": 30
}
                              #dictionary bisa diperlakukan seperti list
print(customer)
print(customer["nama"])
print(customer["umur"])


customer = {
    "nama":"Cecep",
    "umur": 30
}

customer["nama"] = "Dina"             #key juga bisa diubah seperti index
print(customer)
print(customer["nama"])
print(customer["umur"])

customer = {
    "nama":"Cecep",
    "umur": 30
}

customer["pekerjaan"] = "data analyst"             #key juga bisa diubah seperti index
print(customer)

customer = {
    "nama":"Cecep",
    "umur": 30
}

customer["pekerjaan"] = "data analyst"             #key juga bisa diubah seperti index
customer.pop("umur")

print(customer)

{'nama': 'Cecep', 'umur': 30}
Cecep
30
{'nama': 'Dina', 'umur': 30}
Dina
30
{'nama': 'Cecep', 'umur': 30, 'pekerjaan': 'data analyst'}
{'nama': 'Cecep', 'pekerjaan': 'data analyst'}

In [ ]:
# Set ---> adalah kumpulan elemen unik yang tidak memiliki urutan
# union = semua elemen yang ada di A dan ada di B
# intersection = mencari elemen yang sama di A dan B
# difference = apa yang dimiliki A tetapi tidak dimiliki B atau kebalikannya
# symmetric difference = elemen A dan B yang tidak sama
# co : A = 1 2 3 B : 2 4 5 -->symmetric dif = 1 3 4 5

# union
numbers1 = {1, 3, 5, 4, 10}
numbers2 = {3, 4 , 10, 7, 8}

numbers_union = numbers1.union(numbers2)
print(numbers_union)   # hasilnya elemen yang sama tidak akan diprint 2 kali

# difference
numbers1 = {1, 3, 5, 4, 10}
numbers2 = {3, 4 , 10, 7, 8}

difference1 = numbers1.difference(numbers2)
print(difference1)

# sym-difference
numbers1 = {1, 3, 5, 4, 10}
numbers2 = {3, 4 , 10, 7, 8}

sym_difference= numbers1.symmetric_difference(numbers2)
print(sym_difference)

# intersec
numbers1 = {1, 3, 5, 4, 10}
numbers2 = {3, 4, 10, 7, 8}
intersect = numbers1.intersection(numbers2)
print(intersect)

{1, 3, 4, 5, 7, 8, 10}
{1, 5}
{1, 5, 7, 8}
{10, 3, 4}

In [ ]:
# Functions
# function memungkinan kumpulan code untuk digunakan kembali di suatu program
# Phyton menyediakan beberapa built-in function seperti len(), print(), dan type()
# Co: Chef merupakan sebuah function, return valuenya berupa burger dan makanan lainnya

# Function Syntax
# Function name: nama dari function(len, print)
# Argument: nilai yang diberikan ke function/bahan (string, list)
# Function body: isi dari sebuah function/action yang dilakukan
# Return value: hasil yang dikembalikan oleh function

# Create & Call --> di Python, kita menggunakan def() untuk membuat sebuah fungsi
def greet():
  print("Hello, stranger!")
  print("Nice to meet you.")

greet()

# Passing Arguments
def greet(name):
  print("Hello, " + name)

greet("Budi")
greet("Ahmad")
greet("Cecep")

# Parameter = name, age
def greet(name, age):
  print("Name: " + name)
  print("Age: " + str(age))

# Argument = "Budi", 20
greet("Budi", 20)

def greet(name, age):
  print("Name: " + name)
  print("Age: " + str(age))

greet(age=20, name="Cecep") # jika tidak mau urut harus request, jika seperti syntax di bawah maka tidak jadi

# def greet(name, age):
#   print("Name: " + name)
#   print("Age: " + str(age))

# greet(20, "Cecep")

Hello, stranger!
Nice to meet you.
Hello, Budi
Hello, Ahmad
Hello, Cecep
Name: Budi
Age: 20
Name: Cecep
Age: 20

In [ ]:
# lambda function
def add5(x): # contoh 1
  return x+5

print(add5(2))

def add5(number):  # contoh 2
  total = number + 5
  return total

number = 10
number_added_5 = add5(number)
print(number_added_5)

# lambda function agar lebih singkat ttp hanya untuk fungsi sederhana saja
add5 = lambda x: x+5   # contoh 1
print(add5(2))

number = 10         # contoh 2
total = lambda n: n+5
print(total(number))

7
15
7
15

In [ ]:
# Class & Object 1
# Class ----> python adalah sebuah bahasa pemograman object oriented language
# hampir semua hal di python merupakan sebuah objek yang memiliki property dan method
# sebuah class adalah blueprint untuk membuat sebuah object

# create a class
class Person:    #blueprint
  nama = "Budi"

obj = Person()
print(type(obj))
print(obj.nama)

class Angka:
  jumlah = 8

a = Angka()
print(a.jumlah)
b = Angka()
print(b.jumlah)

<class '__main__.Person'>
Budi
8
8

In [ ]:

# __init__()
# fungsi _init_() akan otomatis dipanggil ketika kita membuat sebuah object
# dengan fungsi ini kita dapat mendeklarasi property yang dimiliki ole sebuah class

class Person:
  def __init__(self, name, age):
     self.name = name
     self.age = age

p1 = Person("Budi", 20)

print(p1.name)
print(p1.age)

class Person:
  def __init__(self, name, age, score):
    self.name = name
    self.age = age
    self.score = score

  def greet(self):
    print("Halo, " + self.name + "!")

p1 = Person("Cecep", 20, 95)
p2 = Person("Budi", 25, 80)

print(p1.name)
print(p1.__dict__)
print(p2.__dict__)

p1.greet()
p2.greet()

Budi
20
Cecep
{'name': 'Cecep', 'age': 20, 'score': 95}
{'name': 'Budi', 'age': 25, 'score': 80}
Halo, Cecep!
Halo, Budi!

In [ ]:
class Cat(Animal): # child class
  def __init__(self, name, age, color, weight):
    self.name = name
    self.age = age
    self.color = color
    self.weight = weight

a1 = Cat("kitten", 2, "Black", 1.34)
print(a1.name + age)
print(a1.color)
print(a1.weight)

NameError: name 'age' is not defined

In [ ]:
# Class & Object 2

class Animal: # parent class
  def __init__(self, name, age):
    self.name = name
    self.age = age

a1 = Animal("puppy", 1)
print(a1.name)
print(a1.age)

class Cat(Animal): # child class
  def __init__(self, name, age, color, weight):
    super().__init__(name, age)
    self.color = color
    self.weight = weight

a1 = Cat("kitten", 2, "Black", 1.34)
print(super())
print(a1.color)



class Dog(Animal):
  def __init__(self, name, age, types):
   super().__init__(name.age)
   self.type = types

  def greet(self):
    print("Hello!" + self.name + "!")

puppy
1

RuntimeError: super(): no arguments

In [ ]:
# File processing
# Python mendukung proses file handling seperti membaca dan menulis file
# Berbeda dengan bahasa pemograman lain, python memiliki konsep yang sangat sederhana untuk file


# Open () function
# dengan open(), kita dapat membaca file dalam beberapa mode
# open() akan mengembalikan sebuah file object.
#             nama file
#                 |
file = open("coding-studio.txt", "r")
print(file)

# pastikan file dalam satu folder, jika tidak satu folder tulis secara lengkap User/Documents/C:
# r = reading, w = writing

# jika mau mengedit dan berubah semua
file = open("coding-studio.txt", "w")
file.write("Ini adalah text yang baru") #edit
file.close()
# jika mau diedit tetapi ditimpa pake append
file = open("coding-studio.txt", "a")
file.write("Ini adalah text yang baru") #edit
file.write("\nIni adalah text yang baru") #edit jika teks diletakkan dibawahnya
file.close()

FileNotFoundError: [Errno 2] No such file or directory: 'coding-studio.txt'

In [ ]:
def minimal(a, b):
    if a <= b:
        return a
    else:
        return b

# Contoh penggunaan
print(minimal(5, 10))  # Output: 5
print(minimal(10, 5))  # Output: 5
print(minimal(7, 7))   # Output: 7

5
5
7

In [ ]:
def minimal(a, b):
    """
    Mengembalikan nilai terkecil antara a atau b.
    Bila nilainya sama, mengembalikan nilai a.
    """
    if a <= b:
        return a
    else:
        return b

# Contoh penggunaan
print(minimal(3, 5))  # Output: 3
print(minimal(7, 2))  # Output: 2
print(minimal(4, 4))  # Output: 4

3
2
4